body{
  background: lightcyan;
  position: relative;
}

.create-notes{
  background: aliceblue;
  padding: 15px;
  box-shadow: 5px 5px 30px;
  position: relative;
}
 .create-notes > form > button{
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  right: -30px;
 }
 .create-notes input, .create-notes textarea{
  border: none;
  color: black;
  font-weight: bold;
 }